
.header{
    display: flex;
    justify-content: space-between;
    // align-items: center;
    padding-top: 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 100px;

    
    a{
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        li{
            list-style-type: none;
            margin-right: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            
            
        }
    }
}